{{!-- MusicBox About  and maybe a SEARCH form --}}
<div class ="header">
<h1>Music Box</h1>
<div class ="topnav">
    <a class="active" href="/">Home</a>
    <a href="/aboutpage">About</a>
    <div class="search-container">
    <form action="/about">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

</div>
</div>

